# **Aula 1 - Leyendo archivos CSV**

## **Importando archivo CSV**

In [133]:
import pandas as pd

In [134]:
datos = pd.read_csv('Data/superstore_data.csv')

In [135]:
datos.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [136]:
# Abrir un archivo csv cuado esta separado por ';' sin especificar el separador, por defaul es ',' da un error
datos_punto_coma = pd.read_csv('Data/superstore_data_punto_coma.csv')

In [137]:
datos_punto_coma.head()

  Id;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;Response;Complain
0  1826;1970;Graduation;Divorced;84835;0;0;6/16/2...
1  1;1961;Graduation;Single;57091;0;0;6/15/2014;0...
2  10476;1958;Graduation;Married;67267;0;1;5/13/2...
3  1386;1967;Graduation;Together;32474;1;1;11/5/2...
4  5371;1989;Graduation;Single;21474;1;0;8/4/2014...

### **Parametros de la funciÃ³n read_csv**

In [138]:
# Abrir un archivo csv con el separado por ';'
datos_punto_coma = pd.read_csv('Data/superstore_data_punto_coma.csv', sep=';')

In [139]:
datos.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [140]:
# Seleccionar las filas a mostrar
datos_primeras_lineas = pd.read_csv('Data/superstore_data.csv', nrows = 5) # 5 Filas
datos_primeras_lineas

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [141]:
# Seleccionar las columnas para mostrar
datos_seleccion = pd.read_csv('Data/superstore_data.csv', usecols = ['Id', 'Year_Birth', 'Income'])
datos_seleccion

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

In [142]:
# Seleccionar las columnas para mostrar usando la posiciÃ³n en lugar del nombre
datos_seleccion = pd.read_csv('Data/superstore_data.csv', usecols = [0, 1, 4])
datos_seleccion

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

## **Escribir archivos CSV**

In [143]:
# Guardar datos csv
datos_seleccion.to_csv('Data/clientes_mercado.csv')

In [144]:
# Leer el archivo guardado
clientes_mercado = pd.read_csv('Data/clientes_mercado.csv')
clientes_mercado
# Seguarda con una columna de indices

      Unnamed: 0     Id  Year_Birth   Income
0              0   1826        1970  84835.0
1              1      1        1961  57091.0
2              2  10476        1958  67267.0
3              3   1386        1967  32474.0
4              4   5371        1989  21474.0
...          ...    ...         ...      ...
2235        2235  10142        1976  66476.0
2236        2236   5263        1977  31056.0
2237        2237     22        1976  46310.0
2238        2238    528        1978  65819.0
2239        2239   4070        1969  94871.0

[2240 rows x 4 columns]

In [145]:
# Guardar datos csv sin los indices
datos_seleccion.to_csv('Data/clientes_mercado.csv', index = False)

In [146]:
# Leer el archivo guardado sin los indices
datos_mercado = pd.read_csv('Data/clientes_mercado.csv')
datos_mercado

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

# **Aula 2 - Leyendo archivos Excel**

## **Importando archivos Excel**

In [147]:
import pandas as pd

In [148]:
archivo = 'Data/emisiones_CO2.xlsx'

In [149]:
datos_co2 = pd.read_excel(archivo)

In [150]:
datos_co2.head()

,PaÃ­s,ISO 3166-1 alpha-3,AÃ±o,Total,CarbÃ³n,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,AfganistÃ¡n,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfganistÃ¡n,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfganistÃ¡n,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfganistÃ¡n,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfganistÃ¡n,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
pd.ExcelFile(archivo).sheet_names

['emisiones_C02', 'emisiones_percapita', 'fuentes']

### **Parametros de la funciÃ³n read_excel**

In [152]:
# Automaticamente se abre la primer hoja [0], para elegir la hoja a abrir se usa el parametro "sheet_name"
# Se elige la hoja a abrir del archivo excel (se abre la segunda hoja [1] "emisiones_percapita")
percapita = pd.read_excel(archivo, sheet_name = 'emisiones_percapita')

In [153]:
percapita.sample(5)

,PaÃ­s,ISO 3166-1 alpha-3,AÃ±o,Total,CarbÃ³n,Aceite,Gas,Cemento,Quema,Otros
17787,Islas Faroe,FRO,1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43341,PerÃº,PER,1843,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23235,Guinea,GIN,1865,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8720,Burundi,BDI,1766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21061,Georgia,GEO,1867,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
# Elgir la tercer hoja [2] "fuentes" para abrir del archivo excel
fuentes = pd.read_excel(archivo, sheet_name = 'fuentes')

In [155]:
fuentes.tail()

,PaÃ­s,ISO 3166-1 alpha-3,AÃ±o,Total,CarbÃ³n,Aceite,Gas,Cemento,Quema,Otros,Per Capita
63099,Global,WLD,2017,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63100,Global,WLD,2018,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63101,Global,WLD,2019,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63102,Global,WLD,2020,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63103,Global,WLD,2021,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."

In [156]:
# Para elegir las columas se usa el parametro "usecols", en este caso de la columna A a la D
intervalo = pd.read_excel(archivo, sheet_name = 'emisiones_C02', usecols = 'A:D')

In [157]:
intervalo

             PaÃ­s ISO 3166-1 alpha-3   AÃ±o         Total
0      AfganistÃ¡n                AFG  1750  0.000000e+00
1      AfganistÃ¡n                AFG  1751  0.000000e+00
2      AfganistÃ¡n                AFG  1752  0.000000e+00
3      AfganistÃ¡n                AFG  1753  0.000000e+00
4      AfganistÃ¡n                AFG  1754  0.000000e+00
...           ...                ...   ...           ...
63099      Global                WLD  2017  3.609674e+10
63100      Global                WLD  2018  3.682651e+10
63101      Global                WLD  2019  3.708256e+10
63102      Global                WLD  2020  3.526409e+10
63103      Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

In [158]:
# Para elegir las filas se usa el parametro "nrows", en este caso las primeras 10 filas
intervalo_2 = pd.read_excel(archivo, sheet_name = 'emisiones_C02', usecols = 'A:D', nrows = 10)

In [159]:
intervalo_2

         PaÃ­s ISO 3166-1 alpha-3   AÃ±o  Total
0  AfganistÃ¡n                AFG  1750      0
1  AfganistÃ¡n                AFG  1751      0
2  AfganistÃ¡n                AFG  1752      0
3  AfganistÃ¡n                AFG  1753      0
4  AfganistÃ¡n                AFG  1754      0
5  AfganistÃ¡n                AFG  1755      0
6  AfganistÃ¡n                AFG  1756      0
7  AfganistÃ¡n                AFG  1757      0
8  AfganistÃ¡n                AFG  1758      0
9  AfganistÃ¡n                AFG  1759      0

### **Escribiendo archivos Excel**

In [160]:
intervalo.to_excel('Data/co2_percapita.xlsx', index = False)

In [161]:
pd.read_excel('Data/co2_percapita.xlsx')

             PaÃ­s ISO 3166-1 alpha-3   AÃ±o         Total
0      AfganistÃ¡n                AFG  1750  0.000000e+00
1      AfganistÃ¡n                AFG  1751  0.000000e+00
2      AfganistÃ¡n                AFG  1752  0.000000e+00
3      AfganistÃ¡n                AFG  1753  0.000000e+00
4      AfganistÃ¡n                AFG  1754  0.000000e+00
...           ...                ...   ...           ...
63099      Global                WLD  2017  3.609674e+10
63100      Global                WLD  2018  3.682651e+10
63101      Global                WLD  2019  3.708256e+10
63102      Global                WLD  2020  3.526409e+10
63103      Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

### **Leyendo datos de Google Sheets**

In [162]:
# AÃ±adir el ID del archivo en una variable
sheet_id = '1CPDyvhhja0r2fQUES260zxSXLIgjtlYzMcjMJXReCac'
# Sustituir el final por los parametros gviz para lectura online y el tipo de archivo para abrirlo "CSV"
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [163]:
datos_co2_sheets = pd.read_csv(url)

In [164]:
datos_co2_sheets

,PaÃ­s,ISO 3166-1 alpha-3,AÃ±o,Total,CarbÃ³n,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,AfganistÃ¡n,AFG,1750,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfganistÃ¡n,AFG,1751,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfganistÃ¡n,AFG,1752,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfganistÃ¡n,AFG,1753,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfganistÃ¡n,AFG,1754,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,"36,096,739,276","14,506,973,805","12,242,627,935","7,144,928,128","1,507,923,185","391,992,176","302,294,047","4,749,682"
63100,Global,WLD,2018,"36,826,506,600","14,746,830,688","12,266,016,285","7,529,846,784","1,569,218,392","412,115,746","302,478,706","4,792,753"
63101,Global,WLD,2019,"37,082,558,969","14,725,978,025","12,345,653,374","7,647,528,220","1,617,506,786","439,253,991","306,638,573","4,775,633"
63102,Global,WLD,2020,"35,264,085,734","14,174,564,010","11,191,808,551","7,556,290,283","1,637,537,532","407,583,673","296,301,685","4,497,423"
63103,Global,WLD,2021,"37,123,850,352","14,979,598,083","11,837,159,116","7,921,829,472","1,672,592,372","416,525,563","296,145,746","4,693,699"

In [165]:
sheet_id = '1CPDyvhhja0r2fQUES260zxSXLIgjtlYzMcjMJXReCac'
# Variable del nombre de la hoja a abrir
sheet_name = 'emisiones_percapita'
# Agregamos el nombre de la hoja a abrir, si no se especifica se abre la primer hoja
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [166]:
percapita_sheets = pd.read_csv(url_percapita)

In [167]:
percapita_sheets

,PaÃ­s,ISO 3166-1 alpha-3,AÃ±o,Total,CarbÃ³n,Aceite,Gas,Cemento,Quema,Otros
0,AfganistÃ¡n,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfganistÃ¡n,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfganistÃ¡n,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfganistÃ¡n,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfganistÃ¡n,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,"4,749,682","1,908,857","1,610,910","940,144","198,416","51,579","39,776"
63100,Global,WLD,2018,"4,792,753","1,919,213","1,596,350","979,965","204,225","53,634","39,366"
63101,Global,WLD,2019,"4,775,633","1,896,468","1,589,920","984,878","208,309","56,569","39,490"
63102,Global,WLD,2020,"4,497,423","1,807,760","1,427,353","963,695","208,844","51,981","37,789"
63103,Global,WLD,2021,"4,693,699","1,893,923","1,496,614","1,001,585","211,472","52,663","37,443"

In [168]:
sheet_id = '1CPDyvhhja0r2fQUES260zxSXLIgjtlYzMcjMJXReCac'
# Variable del nombre de la hoja a abrir
sheet_name = 'fuentes'
# Agregamos el nombre de la hoja a abrir, si no se especifica se abre la primer hoja
url_fuentes = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [169]:
fuentes_sheets = pd.read_csv(url_fuentes)

In [170]:
fuentes_sheets.tail()

,PaÃ­s,ISO 3166-1 alpha-3,AÃ±o,Total,CarbÃ³n,Aceite,Gas,Cemento,Quema,Otros,Per Capita
63099,Global,WLD,2017,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63100,Global,WLD,2018,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63101,Global,WLD,2019,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63102,Global,WLD,2020,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63103,Global,WLD,2021,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."

## **Aula 3 - Leyendo archivos JSON**

### **Importando archivos JSON**

In [2]:
import pandas as pd

In [3]:
# Leer archivos json
datos_pacientes = pd.read_json('Data/pacientes.json')

In [4]:
datos_pacientes

,ID_paciente,Enfermedad_corazon,IMC,Fumador,Consumo_alcohol,AVC,Salud_fisica,Salud_mental,Dificultad_caminar,Sexo_biologico,Rango_edad,Raza,Diabetes,Actividad_fisica,Salud_general,Horas_sueÃ±o,Asma,Enfermedad_renal,Cancer_piel
0,0,No,16.60,SÃ­,No,No,3,30,No,Femenino,55-59,Blanca,SÃ­,SÃ­,Muy buena,5,SÃ­,No,SÃ­
1,1,No,20.34,No,No,SÃ­,0,0,No,Femenino,80 Ã³ +,Blanca,No,SÃ­,Muy buena,7,No,No,No
2,2,No,26.58,SÃ­,No,No,20,30,No,Masculino,65-69,Blanca,SÃ­,SÃ­,Razonable,8,SÃ­,No,No
3,3,No,24.21,No,No,No,0,0,No,Femenino,75-79,Blanca,No,No,Buena,6,No,No,SÃ­
4,4,No,23.71,No,No,No,28,0,SÃ­,Femenino,40-44,Blanca,No,SÃ­,Muy buena,8,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,No,28.29,SÃ­,No,No,10,20,No,Femenino,65-69,Negra,SÃ­,SÃ­,Razonable,8,No,No,No
996,996,No,25.69,SÃ­,No,No,0,0,No,Femenino,75-79,Blanca,No,SÃ­,Excelente,8,No,No,No
997,997,SÃ­,26.99,No,No,No,1,0,No,Masculino,70-74,Blanca,No,SÃ­,Muy buena,8,No,No,No
998,998,No,44.29,No,No,No,30,0,SÃ­,Femenino,70-74,Blanca,SÃ­,No,Buena,6,SÃ­,No,No
999,999,No,25.83,No,No,No,0,0,No,Masculino,70-74,Negra,SÃ­,No,Excelente,7,No,No,No

In [5]:
# Leer archivos json cuando se tiene dicionarios dentro del diccionario principal
# de la forma normal no funciona, pues no se lee completa la informaciÃ³n anidada
datos_pacientes_2 = pd.read_json('Data/pacientes_2.json')

In [6]:
datos_pacientes_2

,InvestigaciÃ³n,AÃ±o,Pacientes
0,Indicadores clave de enfermedades cardÃ­acas,2020,"{'ID': '01', 'Rango_edad': '55-59', 'Sexo_biol..."
1,Indicadores clave de enfermedades cardÃ­acas,2020,"{'ID': '02', 'Rango_edad': '80 Ã³ +', 'Sexo_bio..."
2,Indicadores clave de enfermedades cardÃ­acas,2020,"{'ID': '03', 'Rango_edad': '65-69', 'Sexo_biol..."

### **Normalizando archivos JSON**

In [7]:
# Indicamos donde se encuentra la informacion anidada, en este caso en la columna 'Pacientes'
df_normalizado = pd.json_normalize(datos_pacientes_2['Pacientes'])
#Estos lee de forma correcta sin importar cuanta informacion este anidada

In [8]:
df_normalizado

,ID,Rango_edad,Sexo_biologico,Raza,IMC,Fumador,Consumo_alcohol,Salud_fÃ­sica,Salud_mental,Dificultad_caminar,Actividad_fÃ­sica,Salud_general,Horas_sueÃ±o,Problemas_salud
0,01,55-59,Mujer,Blanca,16.60,SÃ­,No,3,30,No,SÃ­,Muy buena,5,"[Diabetes, Asma, Cancer_piel]"
1,02,80 Ã³ +,Mujer,Blanca,20.34,No,No,0,0,No,SÃ­,Muy buena,7,[AVC]
2,03,65-69,Masculino,Blanca,26.58,SÃ­,No,20,30,No,SÃ­,Muy buena,8,"[Diabetes, Asma]"

#### **Normalizacion Json Tabla completa**

In [ ]:
import pandas as pd
#Importando el mÃ³dulo JSON
import json

#Leyendo el archivo json usando el mÃ³dulo Python JSON
with open('Data/pacientes_2.json', 'r', encoding='utf-8') as f:
    datos = json.loads(f.read())

#Normalizando los datos con los parÃ¡metros record_path y meta
df = pd.json_normalize(datos, record_path='Pacientes', meta=['InvestigaciÃ³n', 'AÃ±o'])

df

,ID,Rango_edad,Sexo_biologico,Raza,IMC,Fumador,Consumo_alcohol,Salud_fÃ­sica,Salud_mental,Dificultad_caminar,Actividad_fÃ­sica,Salud_general,Horas_sueÃ±o,Problemas_salud,InvestigaciÃ³n,AÃ±o
0,01,55-59,Mujer,Blanca,16.60,SÃ­,No,3,30,No,SÃ­,Muy buena,5,"[Diabetes, Asma, Cancer_piel]",Indicadores clave de enfermedades cardÃ­acas,2020
1,02,80 Ã³ +,Mujer,Blanca,20.34,No,No,0,0,No,SÃ­,Muy buena,7,[AVC],Indicadores clave de enfermedades cardÃ­acas,2020
2,03,65-69,Masculino,Blanca,26.58,SÃ­,No,20,30,No,SÃ­,Muy buena,8,"[Diabetes, Asma]",Indicadores clave de enfermedades cardÃ­acas,2020

### **Escribiendo archivos JSON**

In [10]:
df_normalizado.to_json('Data/hitorico_pacientes_norm.json')

In [11]:
pd.read_json('Data/hitorico_pacientes_norm.json')

,ID,Rango_edad,Sexo_biologico,Raza,IMC,Fumador,Consumo_alcohol,Salud_fÃ­sica,Salud_mental,Dificultad_caminar,Actividad_fÃ­sica,Salud_general,Horas_sueÃ±o,Problemas_salud
0,1,55-59,Mujer,Blanca,16.60,SÃ­,No,3,30,No,SÃ­,Muy buena,5,"[Diabetes, Asma, Cancer_piel]"
1,2,80 Ã³ +,Mujer,Blanca,20.34,No,No,0,0,No,SÃ­,Muy buena,7,[AVC]
2,3,65-69,Masculino,Blanca,26.58,SÃ­,No,20,30,No,SÃ­,Muy buena,8,"[Diabetes, Asma]"

### **Leyendo datos JSON a traves de APIs**

In [31]:
# Una forma comÃºn de acceder a las API es a travÃ©s de la biblioteca requests
import requests
import json
# Direccion de la API Fruitvice
datos_frutas = requests.get('https://fruityvice.com/api/fruit/all')
# Guardamos los datos en formato de texto
resultado = json.loads(datos_frutas.text)
# Mostramos los resultados
pd.DataFrame(resultado)

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."
5,Durian,60,Malvaceae,Malvales,Durio,"{'calories': 147, 'fat': 5.3, 'sugar': 6.75, '..."
6,Blackberry,64,Rosaceae,Rosales,Rubus,"{'calories': 40, 'fat': 0.4, 'sugar': 4.5, 'ca..."
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,"{'calories': 50, 'fat': 0.34, 'sugar': 5.74, '..."
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,"{'calories': 61, 'fat': 0.5, 'sugar': 9.0, 'ca..."
9,Lychee,67,Sapindaceae,Sapindales,Litchi,"{'calories': 66, 'fat': 0.44, 'sugar': 15.0, '..."
10,Pineapple,10,Bromeliaceae,Poales,Ananas,"{'calories': 50, 'fat': 0.12, 'sugar': 9.85, '..."
11,Fig,68,Moraceae,Rosales,Ficus,"{'calories': 74, 'fat': 0.3, 'sugar': 16.0, 'c..."
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,"{'calories': 44, 'fat': 0.6, 'sugar': 0.0, 'ca..."
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,"{'calories': 97, 'fat': 0.7, 'sugar': 11.2, 'c..."
14,Plum,71,Rosaceae,Rosales,Prunus,"{'calories': 46, 'fat': 0.28, 'sugar': 9.92, '..."
15,Orange,2,Rutaceae,Sapindales,Citrus,"{'calories': 43, 'fat': 0.2, 'sugar': 8.2, 'ca..."
16,GreenApple,72,Rosaceae,Rosales,Malus,"{'calories': 21, 'fat': 0.1, 'sugar': 6.4, 'ca..."
17,Raspberry,23,Rosaceae,Rosales,Rubus,"{'calories': 53, 'fat': 0.7, 'sugar': 4.4, 'ca..."
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,"{'calories': 30, 'fat': 0.2, 'sugar': 6.0, 'ca..."
19,Lemon,26,Rutaceae,Sapindales,Citrus,"{'calories': 29, 'fat': 0.3, 'sugar': 2.5, 'ca..."
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,"{'calories': 60, 'fat': 0.38, 'sugar': 13.7, '..."
21,Blueberry,33,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
22,Apple,6,Rosaceae,Rosales,Malus,"{'calories': 52, 'fat': 0.4, 'sugar': 10.3, 'c..."
23,Guava,37,Myrtaceae,Myrtales,Psidium,"{'calories': 68, 'fat': 1.0, 'sugar': 9.0, 'ca..."
24,Apricot,35,Rosaceae,Rosales,Prunus,"{'calories': 15, 'fat': 0.1, 'sugar': 3.2, 'ca..."
25,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,"{'calories': 34, 'fat': 0.0, 'sugar': 8.0, 'ca..."
26,Tangerine,77,Rutaceae,Sapindales,Citrus,"{'calories': 45, 'fat': 0.4, 'sugar': 9.1, 'ca..."
27,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,"{'calories': 36, 'fat': 0.4, 'sugar': 3.0, 'ca..."
28,Lime,44,Rutaceae,Sapindales,Citrus,"{'calories': 25, 'fat': 0.1, 'sugar': 1.7, 'ca..."
29,Pomegranate,79,Lythraceae,Myrtales,Punica,"{'calories': 83, 'fat': 1.2, 'sugar': 13.7, 'c..."
30,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,"{'calories': 60, 'fat': 1.5, 'sugar': 8.0, 'ca..."
31,Grape,81,Vitaceae,Vitales,Vitis,"{'calories': 69, 'fat': 0.16, 'sugar': 16.0, '..."
32,Morus,82,Moraceae,Rosales,Morus,"{'calories': 43, 'fat': 0.39, 'sugar': 8.1, 'c..."
33,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,"{'calories': 44, 'fat': 0.4, 'sugar': 3.0, 'ca..."
34,Avocado,84,Lauraceae,Laurales,Persea,"{'calories': 160, 'fat': 14.66, 'sugar': 0.66,..."
35,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,"{'calories': 61, 'fat': 0.5, 'sugar': 8.9, 'ca..."
36,Cranberry,87,Ericaceae,Ericales,Vaccinium,"{'calories': 46, 'fat': 0.1, 'sugar': 4.0, 'ca..."
37,Cherry,9,Rosaceae,Rosales,Prunus,"{'calories': 50, 'fat': 0.3, 'sugar': 8.0, 'ca..."
38,Peach,86,Rosaceae,Rosales,Prunus,"{'calories': 39, 'fat': 0.25, 'sugar': 8.4, 'c..."
39,Jackfruit,94,Moraceae,Rosales,Artocarpus,"{'calories': 95, 'fat': 0.0, 'sugar': 19.1, 'c..."
40,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,"{'calories': 44, 'fat': 1.26, 'sugar': 0.5, 'c..."
41,Hazelnut,96,Betulaceae,Fagales,Corylus,"{'calories': 628, 'fat': 61.0, 'sugar': 4.3, '..."
42,Pomelo,98,Rutaceae,Sapindales,Citrus,"{'calories': 37, 'fat': 0.0, 'sugar': 8.5, 'ca..."
43,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,"{'calories': 73, 'fat': 0.58, 'sugar': 16.11, ..."
44,Pumpkin,100,Cucurbitaceae,Cucurbitales,Cucurbita,"{'calories': 25, 'fat': 0.3, 'sugar': 3.3, 'ca..."
45,Japanese Persimmon,101,Ebenaceae,Ericales,Diospyros,"{'calories': 70, 'fat': 0.2, 'sugar': 13.0, 'c..."
46,Papaya,42,Caricaceae,Brassicales,Carica,"{'calories': 39, 'fat': 0.3, 'sugar': 4.4, 'ca..."
47,Annona,103,Annonaceae,Rosales,Annonas,"{'calories': 92, 'fat': 0.29, 'sugar': 3.4, 'c..."
48,Ceylon Gooseberry,104,Salicaceae,Malpighiales,Dovyalis,"{'calories': 47, 'fat': 0.3, 'sugar': 8.1, 'ca..."